@font-face {
    font-family: "neko-icon";
    src: /* IE9 */ url('nekotora.eot?t=1615226849119');
    src: /* IE6 - IE8 */ url('nekotora.eot?t=1615226849119#iefix') format('embedded-opentype'),
        /* - */ url('nekotora.woff2') format('woff2'),
        /* - */ url('nekotora.woff?t=1615226849119') format('woff'),
        /* Chrome, FireFox, Opera, Safari, Android, iOS 4.2+ */ url('nekotora.ttf?t=1615226849119') format('truetype'),
        /* iOS 4.1- */ url('nekotora.svg?t=1615226849119#neko-icon') format('svg');
}

.neko-icon {
    font-family: "neko-icon", serif;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e800"
}

.icon-info:before {
    content: "\e801"
}

.icon-comment:before {
    content: "\e802"
}

.icon-v2ex:before {
    content: "\e803"
}

.icon-zhihu:before {
    content: "\e804"
}

.icon-bilibili:before {
    content: "\e805"
}

.icon-netease_music:before {
    content: "\e806"
}

.icon-tencent_qzone:before {
    content: "\e807"
}

.icon-mail:before {
    content: "\e808"
}

.icon-bookmark:before {
    content: "\e809"
}

.icon-link:before {
    content: "\e80a"
}

.icon-twitter:before {
    content: "\f099"
}

.icon-gplus:before {
    content: "\f0d5"
}

.icon-github:before {
    content: "\f113"
}

.icon-unlink:before {
    content: "\f127"
}

.icon-instagram:before {
    content: "\f16d"
}

.icon-weibo:before {
    content: "\f18a"
}

.icon-qq:before {
    content: "\f1d6"
}

